.App {
  max-width: 1200px;
  margin: 0 auto;
}
.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-top: 32px;
  padding: 8px 0;
}
button {
  margin-top: 32px;
  outline: none;
  background-color: rgb(37, 37, 37);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 32px;
  border-radius: 3px;
  transition: 0.5s all ease-in;
}
button:hover {
  background-color: rgb(87, 39, 39);
}
